body {
  margin: 0;
  padding: 0;
  background-color: #dddddd;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  margin: 1rem 0rem;
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  /* overflow: hidden; */
}

main {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 1rem;
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 400px) {
  main {
    width: 95%;
  }
}

.item-card {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 250px;
  max-width: 350px;
  box-sizing: border-box;
}

.item-card h2 {
  font-size: 1.1rem;
}

.item-card img {
  width: 100%;
  /* max-width: 350px; */
  box-sizing: border-box;
}

.item-card h3 {
  color: red;
  font-size: 0.8rem;
}
